@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #BDBDD7; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #46466E;
  padding: 1.2em; }
  header img {
    width: 220px; }
  header .nav-item {
    padding: 10px; }

main .hero-section-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  padding: 20px; }
  main .hero-section-nav h1 {
    font-size: 3em;
    font-weight: bold; }

main .nav-cards {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 30px; }

main .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  main .row .d-flex {
    flex-wrap: wrap; }
    main .row .d-flex .card {
      width: 18rem;
      margin: 10px; }
      main .row .d-flex .card img {
        align-self: center;
        width: 100%;
        height: 180px;
        box-shadow: -4px -4px 8px; }
      main .row .d-flex .card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        text-align: center; }
        main .row .d-flex .card .card-body .card-btn-section {
          display: flex;
          justify-content: space-around;
          align-items: baseline; }

.contact {
  display: flex;
  justify-content: center; }
  .contact .contact-form {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 500px; }
    .contact .contact-form textarea {
      height: 250px;
      resize: none; }
    .contact .contact-form button {
      width: 100px;
      align-self: flex-end; }

.stats-table {
  display: flex;
  justify-content: center;
  margin: 30px; }
  .stats-table table {
    font-size: 1.5em;
    border: 2px solid; }
    .stats-table table thead {
      border: 2px solid; }
      .stats-table table thead th {
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.2); }
    .stats-table table td {
      font-size: 0.8em;
      padding: 0px 20px 0px 5px;
      border: 2px solid; }

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #46466E; }
  footer .footer-ico {
    padding: 20px; }
  footer p {
    font-size: 2em;
    padding: 40px;
    margin: 0px 40px 0px 0px;
    font-weight: bold;
    color: #d90368; }

/*------------------- MEDIA QUERIES MOBILE -----------------*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
  /*----------------- HEADER -----------------*/
  header {
    flex-direction: column; }
    header .nav.nav-pills {
      display: flex;
      flex-direction: column;
      align-items: stretch; }
  /*------------------ HOME ------------------*/
  .hero-section-nav {
    flex-direction: column;
    align-items: center; }
  .nav-cards {
    margin: 10px;
    padding: 10px; }
  .row {
    justify-content: center; }
    .row .d-flex .card.m-4 {
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 20rem; }
      .row .d-flex .card.m-4 .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: auto; }
      .row .d-flex .card.m-4 .card-body {
        width: 17rem; }
  /*----------------- FOOTER -----------------*/
  footer {
    flex-direction: column;
    align-items: center; }
    footer .footer-ico {
      margin-top: 30px; }
    footer p {
      margin: 0; } }
