footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #46466E;
    .footer-ico {
        padding: 20px;
    }
    p {
        font-size: 2em;
        padding: 40px;
        margin: 0px 40px 0px 0px;
        font-weight: bold;
        color: #d90368;
    }
}